.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.login-container label.login{
    font-size: 18px;
    font-weight: 600;
    color: #676767;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container section.form{
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 1px 2px #0003;
    background-color: #f0f0f5;
    max-width: 350px;
    padding: 20px;
    border-radius: 5px;
}

.login-container section.form form{
    margin-top: 5px;
}

.login-container section.form form {
    font-size: 32px;
}

.login-container form input {
    background-color: white;
}