.register-person-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 25px;
    margin: 20px auto;
}

.register-person-container div.div-register {
    width: 100%;
    max-width: 500px;
    margin-left: 25%;
}

.register-person-container form.register-person-form {
    margin: 0px 25%;
}

.register-person-container form.register-person-form button {
    width: 40%;
    margin: 10px;
}

.register-person-container table {
    width: 100%;
    max-width: 500px;
}

.register-person-container table td  {
    border: none;
}

.register-person-container table th  {
    border: none;
}

.register-person-container h3.contacts {
    margin: 15px 0px;
}

.register-person-container table button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: transparent;
    float: right;
    margin-left: auto; 
    margin-right: 0;
}

.modal, .modal-backdrop {
    max-width: 100%;
    margin: 0px;
}

.modal-header {
    padding: 2%;
}

.modal-body {
    margin: 0px;
    padding: 0px;    
}

.modal-footer .modal-register-person-form {
    width: 100%;
    margin: 0px;
}

.modal-footer .modal-register-person-form button {
    width: 45%;
    margin: 0px 0px 0px 10px;
}